body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/** configurando o menu **/

.fundo {
    background: #d2d2c1 url(images/fundo.png);
}

div {
    width: 870px;
}

.menu {
    background-color: #c5c5c2;
    padding: 15px;
}

.link_menu {
    text-decoration: none;
    font-size: 23px;
    color: #4b566a;
    font-weight: 650;
}

/** configurando o texto **/

.texto {
    background-color: #e8e8d9;
    text-align: justify;
    padding: 15px;
}

.texto > h1 {
    color: rgb(71, 81, 85);
}

/** configurando o rodapé**/

.rodape {
    width: 900px;
    text-align: center;
}

.texto_rodape {
    font: bold 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/** específico de capanhas **/

.img_campanha {
    border: 10px solid rgb(113, 199, 173);
    margin-left: 10%;
}