* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    list-style-type: none;
    width: 720px;
    background: #159cb0 url(./imagens/fundo-horizontal.png) repeat-x;
    height: 40px;
    margin-left: 20px;
}

ul li {
    float: left;
    background: url(imagens/divisor.png) no-repeat right;
}

.clear {
    clear: both;
}

li a {
    line-height: 40px;
    width: 100px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

li a:hover {
    background-color: #44cade;
    color: black;
}