/** 
#F2B705 laranja
#FAF8FB body
#FFFFFF notícia
#DCDADD h4 (conteúdo petiférico)
**/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2e2e2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/** estilizando o cabeçalho **/

header {
    background-color: #F2B705;
    height: 130px;
}
h1 {
    color: #4e4e4e;
}
h1 > span {
    color: white;
}

.title {
    text-align: center;
    padding-top: 30px;
}
.menu {
    text-align: center;
    padding: 20px;
    
}
.menu > li {
    display: inline;
    margin-left: 10px;
   
}
.op_menu {
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
.op_menu:hover {
    background-color: #FAF8FB;
    color: #F2B705;
}

/** configurando o conteúdo **/

main {
    width: fit-content;
    margin:  20px auto;
}

h2{
    padding: 15px 0px 5px ;
    color: #F2B705;
}

.clear {
    clear: both;
}
.txt_lado {
    float: right;
}

.txt_lado > section {
    background-color: white;
    width: 250px;
    padding: 8px;
    margin: 5px;
}
h3 {
    background-color: #DCDADD;
    padding: 5px;
}
p {
    text-align: justify;
}
.postagem {
    background-color: white;
    width: 640px;
    float: left;
    padding: 10px;
    margin: 5px
}
#categorias {
    margin-top: 30px;
}

#categorias > ul {
    list-style: none;
}
.item_cat > a {
    text-decoration: none;
    color: #F2B705;
    font-size: 1.1em;
}
.item_cat > a:hover {
    text-decoration: underline;
}
#tx_h2 {
    padding-bottom: 20px;
}
.item_2 {
    color: #F2B705;
}
.a_post {
    color: #F2B705;
}
/** estilizando o rodpé **/
footer {
    background-color: #bababb;
    text-align: center;
    padding: 10px;
}
