/**/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(0, 0, 0, 0.425);
}
/* Configurando o cabeçalho*/
header {
    background-color: rgba(61, 66, 66, 0.678);
    height: 170px;
    width: 80%;
    min-width: 700px;
    max-width: 900px;
    margin: 0 auto;
}

/* Alinhando o main*/
main {
    width: 80%;
    margin: 0 auto;
    background-color: bisque;
    min-width: 700px;
    max-width: 900px;
    height: fit-content;
    padding-bottom: 20px;
}

/* Configurando o menu de navegação */
nav {
    background-color: bisque;
    width: 30%;
}
nav li {
    list-style-type: none;
    height: 40px;
}
li a {
    text-decoration: none;
    color: black;
    line-height: 40px;
    display: block;
    font-weight: bold;
    border-bottom: 1px solid;
    padding-left: 10px;
}
li a:hover {
    background-color: rgba(105, 104, 101, 0.377);
}
/* Configurando o conteúdo principal (sections) */
#principal {
    width: 67%;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.486); 
}

/* Configurando o conteúdo dentro de #principal */
#section1 {
    background-color: #ffffff;
    width: 62%;
}
#section2 {
    background-color: #ffffff;
    width: 35%;
}

/* Consfigurando o posicionamento no layout*/

nav{
    float: left;
}
#principal {
    float: right;
}
#section1 {
    float: left;
}
#section2 {
    float: right;
}

/* limpando o fluxo */

.clear {
    clear: both;
}

/* Configurando o rodapé */

footer {
    width: 80%;
    min-width: 700px;
    max-width: 900px;
    margin: 0 auto;
    height: 40px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* configurando o texto */

p {
    padding: 20px;
}
h2 {
    padding: 20px;
}
h3 {
    padding: 10px;
}

/* configurando as imagens e os backgrounds */

header {
    background: url(../imagens/cabecalho.jpg) no-repeat bottom;
}

#section1 img {
    width: 90%;
}
.center {
    width: 100%;
    display: flex;
    justify-content: center;
}