@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Francois One", sans-serif;
    background-color: #d1cfcf;
}

#conteiner {
    width: 720px;
    background-color: #726e6e;
    margin: 0 auto;
    height: 630px;
}

#marca {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #ffffff;
}

#conteudo {
    width: 520px;
    float: right;
    height: 500px;
    
}

#navegacao {
    width: 180px;
    background-color: #968686;
    float: left;
    height: 160px;
}

ul {
    list-style-type: none;
    height: 100%;
    width: 100%;
}
ul a {
    display: block;
    text-decoration: none;
    color: black;
    line-height: 40px;
    padding-left: 10px;
    background-color: azure;
}

ul a:hover {
    background-color: #0476D9;
}

#rodape {
    clear: both;
    width: 720px;
    background-color: #06ADBF;
    text-align: center;
    align-items: center;
    height: 30px;
    align-items: center;
    line-height: 30px;
    font-weight: bolder;
}
#conteudo_prim {
    width: 330px;
    float: left;
    background-color: azure;
    padding-bottom: 20px;
}

#conteudo_sec {
    width: 180px;
    float: right;
    background-color: #A0C4F2;
}

p {
    padding: 20px;
}
h2 {
    padding: 20px
}

img {
    width: 250px;
    border-radius: 10px;
}

.clear {
    clear: both;
}

.conteiner_img {
    width: 330px;
    display: flex;
    justify-content: center;
}

#marca img {
    width: 100px;
}